:root {
    /* color palette */
    --light: #f6f2f8;
    /* #f6f2f8 is another light yellow color */
    --ltYellow: #fed053;
    --medYellow: #f5b30f;
    --dkYellow: #f5a301;
    --dkGrey: #1e2328;
    --mdGrey: #2a2e34;
    --ltGrey: #3b3f46;
    --blue: #1f2b67;
    --dkblue: #12183b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Exa', sans-serif;
}

body {
    background-image: url('./images/Navy-background-gold-dust.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* height: 100%; */
    color: var(--light);
}

.wrapper {
    background-color: rgba(0, 0, 204, 0.1);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

h1 {
    padding: 1%;
    background-color: rgba(5, 0, 14, 0.4);
    
    font-size: 2rem;
}

.icon {
    width: 70px;
    height: 70px;
}

.forecast {
    padding-bottom: 1%;
    font-size: 1.7rem;
}

.quotes {
    width: 50%;
    height: 50%;
    background-color: var(--ltYellow);
    border: 5px solid salmon;
    font-size: 1.5rem;
    padding-top: 10%;
}